.linkimg
{
    font-family: Lato,Helvetica,Arial;
    box-sizing: border-box;  
}

body {
    
    background:#fff8dc;
    margin:auto;
    direction: rtl;
    text-align: right;
    
}
.AnnouncementBar__Content
{
background-color: maroon;
text-size-adjust: 100%;
--use-sticky-header: 1;
--use-unsticky-header: 0;
--header-is-transparent: 1;
--window-height: 521px;
--announcement-bar-height: 43px;
--header-height: 67px;
--header-is-not-transparent: 0;
line-height: 1.65;
text-align: center;
box-sizing: border-box !important;
-webkit-font-smoothing: antialiased;
font-size: inherit;
font-family: "DIN Neuzeit Grotesk",sans-serif;
font-weight: 300;
font-style: normal;
transition: color 0.2s ease-in-out;
letter-spacing: 0.2em;
text-transform: uppercase;
color:white;
margin: 0;
margin-bottom: 0;
}
.title
{
    align-items: center;
    margin:auto;
    padding:10px,10px,10px,10px;
}
.navbar
{
text-size-adjust: 100%;
font-size: 15px;
--use-sticky-header: 1;
--use-unsticky-header: 0;
--header-is-transparent: 1;
--window-height: 521px;
--announcement-bar-height: 43px;
--header-height: 67px;
--header-is-not-transparent: 0;
font-family: "DIN Neuzeit Grotesk",sans-serif;
font-weight: 300;
font-style: normal;
line-height: 0.8px;
color:red;
box-sizing: border-box !important;
-webkit-font-smoothing: antialiased;
display: flex;
align-items: center;
justify-content: space-between;
padding: 18px 30px;
}
.card-body
{
    background-color: #DD9866;
}
.CollectionItem
{
    text-size-adjust: 100%;
font-size: 15px;
--use-sticky-header: 1;
--use-unsticky-header: 0;
--header-is-transparent: 1;
--window-height: 521px;
--announcement-bar-height: 43px;
--header-height: 67px;
--header-is-not-transparent: 0;
font-family: "DIN Neuzeit Grotesk",sans-serif;
font-weight: 300;
font-style: normal;
color: #000;
line-height: 1.65;
box-sizing: border-box !important;
-webkit-font-smoothing: antialiased;
transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
opacity: 1;
transform: none;
background-position: center center;
background-color:#AF6B58;
}

/*תוספת של מירב*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 .nav{
    text-size-adjust: 100%;
    font-size: 15px;
    --use-sticky-header: 1;
    --use-unsticky-header: 0;
    --header-is-transparent: 1;
    --window-height: 521px;
    --announcement-bar-height: 43px;
    --header-height: 67px;
    --header-is-not-transparent: 0;
    font-family: "DIN Neuzeit Grotesk",sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 0.8px;
    color:red; 
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 30px;
    
 }
 #about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px ;
    }
    #about .col-left{
        width: 250px;
        height: 360px;
        }
    #about .col-right{
            width: 100%;
        }
     #about .col-right h2{
           font-size: 1.8rem ;
           font-weight: 500;
           margin-bottom: 10px ;
     }
     #about .col-right p{
        margin-bottom: 20px ;
    }
    #about .col-right .cta{
        font-size: 2rem ;
        margin-bottom: 50px ;
        padding: 10px 20px ;
    }
    
    
    



    






